.tqbHideOverlay {
  visibility: hidden !important;
}

div[data-testid="DMDrawer"] {
  visibility: visible !important;
}

div[data-testid="toast"] {
  visibility: visible !important;
}

.tqbBlockButton {
  margin-right: 1.6%;
}

.tqbHoverDiv {
  z-index: 1;
}

.tqbHoverDiv:hover {
  border-radius: 50%;
  background-color: rgba(29, 155, 240, 0.1);
}

.tqbHoverDiv:hover + svg {
  color: rgb(29, 155, 240);
}
